
@import url('http://www.obi.ru/skin/css/obi-fonts-cyrillic.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {border-collapse: collapse;border-spacing: 0;}
input[type="submit"], button {cursor: pointer;}
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {padding: 0;border: 0;}

html, body {

}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}


/* ---- */




/* Styles */
.scope_sale {
	position: relative;

	height: 130px;
	margin: 50px 0 0 0;
	padding: 20px 0 0 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	background: #ff8e42;
	background: -moz-linear-gradient(top,  #ff8e42 0%, #ff8740 50%, #fb733a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8e42), color-stop(50%,#ff8740), color-stop(100%,#fb733a));
	background: -webkit-linear-gradient(top,  #ff8e42 0%,#ff8740 50%,#fb733a 100%);
	background: -o-linear-gradient(top,  #ff8e42 0%,#ff8740 50%,#fb733a 100%);
	background: -ms-linear-gradient(top,  #ff8e42 0%,#ff8740 50%,#fb733a 100%);
	background: linear-gradient(to bottom,  #ff8e42 0%,#ff8740 50%,#fb733a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e42', endColorstr='#fb733a',GradientType=0 );


	text-align: center;
}

.scope_sale:after {
	content: ' ';

	position: absolute;
	top: -40px;
	left: 30px;

	display: block;
	width: 218px;
	height: 156px;

	background: url(images/img-scope_sale-action.png) no-repeat;
}

.scope_sale h3 {
	margin: 0 0 5px 0;

	font: normal 60px/100% "Obi-bold", Arial;
	color: #fff;
}

.scope_sale p {
	margin: 0;

	font: normal 15px/100% "", Arial;
	color: #fff;
}


.scope_sale__boxes {
	padding: 25px 0;

	background-color: #33495B;
}

.scope_sale__boxes h3 {
	margin: 0 0 15px 0;

	font: normal 33px/100% "Obi-bold", Arial;
	color: #fff;
	text-align: center;
}

.scope_sale__list {}

.scope_sale__item {
	overflow: hidden;

	float: left;
	width: 33%;
	padding: 0 30px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.scope_sale__item .thumb {
	position: relative;

	min-height: 270px;
	margin: 0 0 25px 0;

	text-align: center;
}

.scope_sale__item .thumb img {
	display: inline-block;

	vertical-align: middle;
}

.scope_sale__item .thumb .info {
	position: absolute;
	bottom: 0;
	left: 0;

	font: normal 15px/140% "Arial";
	color: #fff;
	text-align: left;
}

.scope_sale__item .thumb .sale {
	position: absolute;
	right: 0;
	bottom: 0;

	display: block;
	width: 72px;
	height: 72px;

	-webkit-border-radius: 10px;
	        border-radius: 10px;

	background-color: #DF001B;

	font: normal 25px/72px "Obi-bold", Arial;
	color: #fff;
	text-align: center;
}

.scope_sale__item .prd_info {}

.scope_sale__item .prd_info p {
	float: left;

	font: normal 15px/140% "Obi-regular", Arial;
	color: #AEB3B9;
}

.scope_sale__item .prd_info .btn-buy {
	float: right;

	outline: none;

	display: block;
	width: 90px;
	height: 34px;
	padding: 0 10px 0 0;

	-webkit-transition: all 200ms ease;
	   -moz-transition: all 200ms ease;
	    -ms-transition: all 200ms ease;
	     -o-transition: all 200ms ease;
	        transition: all 200ms ease;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-border-radius: 4px;
	        border-radius: 4px;

	background: #ff7a40 url(images/ico-btn-buy_arr.png) right center no-repeat;

	font: normal 20px/34px "Obi-bold", Arial;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.scope_sale__item .prd_info .btn-buy:hover {
	background-color: #ff570d;
}


/* Product boxes */
.prd_boxes {
	margin: 0 0 35px 0;
}

.prd_box__item {
	overflow: hidden;

	position: relative;

	float: left;
	width: 50%;

	-webkit-transition: all 200ms ease;
	   -moz-transition: all 200ms ease;
	    -ms-transition: all 200ms ease;
	     -o-transition: all 200ms ease;
	        transition: all 200ms ease;

	background-color: #666;

	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

	background-position: 50%;
}

.prd_box__item-in {
	min-height: 330px;
}

.prd_box__item .prd_img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.prd_box__item .prd_img img {
	display: block;
}

.prd_box__item .txt {
	position: absolute;
	top: 25px;
	left: 30px;

	max-width: 280px;
}

.prd_box__item .txt h3 {
	margin: 0 0 5px 0;

	font: normal 33px/100% "Obi-bold", Arial;
	color: #fff;
}

.prd_box__item .txt p {
	margin: 0;

	font: normal 15px/130% "Arial";
	color: #fff;
}

.prd_box__item .info {
	opacity: 0.6;
	position: absolute;
	bottom: 25px;
	left: 30px;

	font: normal 15px/130% "Obi-regular", Arial;
	color: #fff;
}

.prd_box__item .gift_info {
	position: absolute;
	top: 150px;
	right: 30px;

	display: block;
	width: 122px;
	height: 47px;
	padding: 10px 0 0 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	background: url(images/bg-gift_info.png) no-repeat;

	font: normal 18px/100% "Obi-bold", Arial;
	color: #fff;
	text-align: center;
}

.prd_box__item .sale_info {
	position: absolute;
	top: 30px;
	right: 30px;

	display: block;
	width: 72px;
	height: 72px;

	-webkit-border-radius: 10px;
	        border-radius: 10px;

	background-color: #DF001B;

	font: normal 25px/72px "Obi-bold", Arial;
	color: #fff;
	text-align: center;
}

.prd_box__item .btn-buy {
	position: absolute;
	right: 30px;
	bottom: 30px;

	outline: none;

	display: block;
	width: 90px;
	height: 34px;
	padding: 0 10px 0 0;

	-webkit-transition: all 200ms ease;
	   -moz-transition: all 200ms ease;
	    -ms-transition: all 200ms ease;
	     -o-transition: all 200ms ease;
	        transition: all 200ms ease;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-border-radius: 4px;
	        border-radius: 4px;

	background: #ff7a40 url(images/ico-btn-buy_arr.png) right center no-repeat;

	font: normal 20px/34px "Obi-bold", Arial;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.prd_box__item .btn-buy:hover {
	background-color: #ff570d;
}


/* Black style */
.prd_box__item--black {
	background-color: #ccc;
}

.prd_box__item--black .txt h3 {color: #333;}
.prd_box__item--black .txt p {color: #333;}
.prd_box__item--black .info {color: #333;}
.prd_box__item--black .info.info-white {color: #fff;}


.prd_box__item--3x {
	width: 33.3333333333%;
	min-height: 430px;
}

.prd_box__item--3x .txt {
	right: 30px;

	max-width: inherit;
}


@media (max-width: 1170px) {

	.scope_sale__item {
		padding: 0 15px;
	}

	.scope_sale__item .thumb .info {
		font-size: 13px;
	}

	.scope_sale__item .prd_info p {
		font-size: 12px;
	}

	/* -- */

	.prd_box__item-in {
		min-height: 440px;
	}

	.prd_box__item .txt {
		top: 20px;
		left: 20px;
	}

	.prd_box__item .info {
		bottom: 15px;
		left: 20px;
	}

	.prd_box__item .btn-buy {
		right: 20px;
		bottom: 20px;
	}
}

@media (max-width: 992px) {

	.scope_sale {
		margin-top: 130px;
	}

	.scope_sale:after {
		top: -120px;
		right: 30px;
		margin: auto;
	}

	/* --- */

	.scope_sale__item {
		float: none;
		width: 100%;
		max-width: 450px;
		margin: 0 auto 75px auto;
	}

	/* --- */

	.prd_box__item {
		overflow: visible;

		float: none;
		width: 100%;
	}

	.prd_box__item-in {
		position: relative;
		width: 100%;
		max-width: 450px;
		margin: 0 auto;
	}

	.prd_box__item .info {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.scope_sale {
		padding-top: 35px;
	}

	.scope_sale h3 {
		font-size: 35px;
	}

	.scope_sale p {
		font-size: 13px;
	}
}



/* Clearfix */
.cf:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
* html .cf {zoom: 1;}
*:first-child+html .cf {zoom: 1;}
